#checkout{
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 1px 0;
    border-radius: 5px;
    padding: 2%;
    padding-top: 20px;
    text-align: center;
}
#heading{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 20px;
}
#heading .product, #heading .productQuantity, #heading .total{
    height: 20px;
}
.product{
    width: 60%;
}
.productQuantity{
    width: 20%;
}
.price{
    width: 20%;
}
#productContent{
    width: 100%;
    display: flex;
}
.productQuantity #counterBtn{
    display:flex;
    width:100px;
    height:35px;
    margin:0 auto;
    margin-top: 50px;
}
.productQuantity #counterBtn p{
    width: 40px;
    height: 35px;
    padding-top: 5%;
}
.productQuantity #counterBtn .add,.productQuantity #counterBtn .remove{
    border: none;
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    width: 30px;
}
#productContent img{
    width: 19%;
    height: 130px;
    margin: auto;
}
#productContent .productQuantity{
    display: flex;
}
#productContent .price{
    padding-top: 5%;
}
#total{
    width: 96%;
    padding: 2%;
    margin-top: 20px;
    border-top: 1px solid #DCDCDC;
}
#total .content{
    width: 16%;
    float: right;
}
#pay{
    width: 80%;
    margin: auto;
    text-align: right;
    padding: 2%;
}
#pay button{
    height: 40px;
    padding: .5%;
    border-radius: 2%;
    background-color: #005FE8;
    border: 2px solid #005FE8;
    font-size: 16px;
    color: white;
    margin-right: 50px;
    transition: all .2s ease;
}
#pay button:hover{
    background-color: inherit;
    border: 2px solid #005FE8;
    font-size: 16px;
    color: #005FE8;
    
}