#header {
    width: 100%;
}
#header #tagline{
    width: 100%;
    height: 50px;
    background-color: #005FE8;
}
#header #tagline p{
    padding-top: .8%;
    text-align: center;
    font-weight: 600;
    color: white;
}
#header #upperNav{
    width: 100%;
    background-color: #F9F9F9;
}
#header #upperNav nav{
    width: 350px;
    margin-left: 70%;
}
#header #upperNav ul li{
    float: left;
    list-style: none;
    padding: 5%;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
    display: flex;
}
#header #upperNav ul li i{
    margin-top: 4%;
    margin-right: 5px;
}
#header #upperNav ul li:hover{
    color:#005FE8;
}
#header #search{
    display: flex;
    width: 100%;
    height: 100px;
}
#header #search .logo{
    width: 30%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#header #search .logo img{
    width: 196px;
    height: 60px;
    margin-top: 15px;
}
#header #search .searchBar{
    width: 50%;
    text-align: center;
}
#header #search .searchBar .bar{
    width: 85%;
    height: 47px;
    border-radius: 3px;
    box-shadow: 0 0 1px 0;
    margin-top: 4.5%;
}
#header #search .searchBar .bar{
    display:flex;
    text-align: left;
}
#header #search .searchBar input{
    width: 87%;
    border: none;
    font-size: 18px;
    padding: 2%;
    font-weight: 600;
}
#header #search .searchBar .bar .searchIcon{
    position:relative;
}
#header #search .searchBar button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}
#header #search .searchBar .bar i{
    width: 50px;
    height: 35px;
    text-align: center;
    font-size:25px;
    top:2%;
    padding-top:20%
}
#header #search .shoppingCart{
    width: 20%;
    text-align: center;
    margin-top: 3%;
    display: flex;
    cursor: pointer;
}
#header #search .shoppingCart:hover{
    color: #005FE8;
}
#header #search .shoppingCart i{
    margin-right: 2%;
    margin-top: 1%;
}
#header #mainNav{
    width: 100%;
    height: 50px;
    background-color: #005FE8;
}
#header #mainNav nav{
    padding-left: 7.6%;
    position: relative;
}
#header #mainNav nav ul li{
    float: left;
    color: white;
    font-size: 18px;
    font-weight: 600;
    list-style:none;
    padding: .8%;
    padding-left: 3%;
    cursor: pointer;
}
#header #mainNav nav ul li .subMenu{
    display: none;
    position: absolute;
    width: 250px;
    box-shadow: 0 0 2px 0 #666;
    background-color: white ;
    z-index: 100;
    padding: 20px;
    margin-top: 10px;
    transition: 1s all;
}
#header #mainNav nav ul li:hover .subMenu{
    display: block;
}
#header #mainNav nav ul li h4{
    color: black;
    letter-spacing: 1px;
}
#header #mainNav nav ul li ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#header #mainNav nav ul li .subMenu ul li{
    color: #666;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding: 1% 0;
    transition: all .2s ease;
}
#header #mainNav nav ul li .subMenu ul li:hover{
    color: #005FE8;
    margin-left: 10px;
}

@media(min-width:1000px) and (max-width:1100px) {
    #header #tagline{
        max-height: 42px;
    }
    #header #tagline p{
        font-size: 13px;
    }
    #header #upperNav ul li{
        font-size: 13px;
    }
    #header #search .searchBar .bar{
        height: 33px;
        margin-top: 6.5%;
    }
    #header #search .searchBar input{
        font-size: 14px;
    }
    #header #search .searchBar .bar i{
        top: 0;
        padding-top: 18%;
        font-size: 16px;
    }
    #header #search .shoppingCart p{
        font-size: 13px;
    }
    #header #mainNav{
        height: 39px;
    }
    #header #mainNav nav ul li{
        font-size: 14px;
        padding: 1%;
        padding-left: 3%;
    }
}
@media(min-width:280px) and (max-width:450px){
    #header #search .logo{
        width: 100%;
    }
    #header #search .searchBar{
        width: 100%;
        margin: 0 7%;
        text-align: center;
    }
    #header #search{
        display: block;
        height: auto;
        padding-bottom: 10px;
    }
    #header #search .logo img{
        max-width: 200px;
    }
    #header #upperNav nav{
        margin: 0 16%;
    }
    #header #search .shoppingCart{
        width: 100%;
        text-align: center;
        margin-left: 40%;
        font-size: 22px;
    }
    #header #mainNav nav ul li{
        display: none;
    }
    
}