#banner{
    width: 90%;
    height: 485px;
    margin: auto;
    display: flex;
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
#banner .bannerCategories nav{
    padding-left: 5%;
}
#banner .bannerCategories nav ul li{
    list-style: none;
    font-weight: 600;
    padding: 2%;
}
#banner .bannerSlider{
    width: 75%;
    margin: 1%;
    margin-top: 0;
}
#banner #trendSlider{
    width: 100%;
    height: 300px;
}
#banner .brandLogoSlider{
    width: 100%;
    height: 106px;
    margin-top: 20px;
    position: relative;
}
#banner .brandLogoSlider .owl-carousel .owl-item img {
    width: 144%;
}
#banner .trends{
    width: 25%;
    height: 430px;
    margin: 1%;
    margin-top: 0;
}
#banner .trends .trendOne{
    width: 100%;
    height: 131px;
    overflow: hidden;
}
#banner .trends .trendOne img {
    width: 100%;
    transition: transform .4s;
}
#banner .trends .trendOne:hover img {
    transform: scale(1.1);
}
#banner .trends .trendTwo{
    width: 100%;
    height: 132px;
    margin-top: 15px;
    overflow: hidden;
}
#banner .trends .trendTwo img {
    width: 100%;
    transition: transform .4s;
}
#banner .trends .trendTwo:hover img {
    transform: scale(1.1);
}
#banner .trends .trendThree{
    width: 100%;
    height: 131px;
    margin-top: 15px;
    overflow: hidden;
}
#banner .trends .trendThree img {
    width: 100%;
    height: 140px;
    transition: transform .4s;
}
#banner .trends .trendThree:hover img {
    transform: scale(1.1);
}
#flashDeals{
    width: 100%;
    padding: 1%;
    padding-top: 11px;
    margin-bottom: 20px;
}
#flashDeals h2{
    padding: 1%;
    padding-left: 0;
}
#flashDeals h2{
    padding: 1%;
    padding-left: 0;
}
#flashDeals .owl-carousel .item h4{
    color: rgba(191, 191, 191);
    font-weight: 600;
}
#flashDeals .owl-carousel .item h2{
    font-weight: 600;
}
#flashDeals .owl-carousel .item h3{
    font-weight: 600;
}
#flashDeals .owl-carousel .item .productDetails{
    padding: 5%;
}
#featuredBrands{
    width: 100%;
}
#featuredBrands #brands{
    width: 100%;
    display: flex;
    position: relative;
}
#featuredBrands #brands .productDetails{
    padding-left: 5px;
}
#featuredBrands #brands .productDetails p{
    color: #666;
}
#featuredBrands #brands img{
    position: relative;
    width: 100%;
    border-radius: 10px;
}
#featuredBrands .samsung{
    width: 30%;
    position: relative;
    margin: .5%;
}
#featuredBrands .canon{
    width: 30%;
    position: relative;
    margin: .5%;
}
#featuredBrands .canon img{
    height: 220px;
}
#featuredBrands .kingston{
    width: 37%;
    position: relative;
    margin: .5%;
}
#extendedSale {
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin-top: 20px;
}
#extendedSale img {
    width: 100%;
    transition: transform .4s;
}
#extendedSale:hover img {
    transform: scale(1.1);
}
@media(min-width:1200px) and (max-width:1300px){
    #banner .bannerCategories nav li{
        font-size: 15px;
    }
    #trendSlider #img_01, #trendSlider #img_02, #trendSlider #img_03{
        max-width: 566px;
    }
    .trends .trendOne, .trends .trendTwo, .trends .trendTwo{
        max-height: 120px;
    }
}
@media(min-width:1000px) and (max-width:1200px){
    #banner{
        height: 385px;
    }
    #banner .bannerCategories nav li{
        font-size: 13px;
    }
    #trendSlider{
        max-height:250px ;
    }
    #trendSlider #img_01, #trendSlider #img_02, #trendSlider #img_03{
        max-width: 660px;
    }
    .trends .trendOne, .trends .trendTwo, .trends .trendTwo{
        max-height: 100px; 
    }
    #featuredBrands .productDetails p{
        font-size: 12px;
    }
    #featuredBrands .canon img {
        height: 172px;
    }
    #extendedSale{
        height: 148px;
    }
}
@media (min-width:700px) and (max-width:800px){
    #banner{
        display: block;
        max-height: 422px;
    }
    #banner .bannerSlider{
        min-width: 100%;
        min-height: 301px;
    }
    #banner .bannerSlider > div:nth-child(2){
        display: none;
    }
    #banner .trends{
        min-width: 100%;
        display: flex;
    }
    #banner .trends .trendOne,#banner .trends .trendTwo,#banner .trends .trendThree{
        max-height: 100%;
    }
    #banner .trends .trendTwo{
        margin-top: 0;
    }
    #banner .trends .trendThree{
        margin-top: 0;
    }
    #banner .trends .trendThree img{
        max-height: 100%;
    }
    #featuredBrands .canon img{
        height: 127px;
    }
    #flashDeals{
        padding: 0;
    }
    #extendedSale{
        max-height: 110px;
    }
}
@media (min-width:900px) and (max-width:1000px) {
    #banner{
        display: block;
        max-height: 422px;
    }
    #banner .bannerSlider{
        min-width: 100%;
        min-height: 301px;
    }
    #banner .bannerSlider > div:nth-child(2){
        display: none;
    }
    #banner .trends{
        min-width: 100%;
        display: flex;
    }
    #banner .trends .trendOne,#banner .trends .trendTwo,#banner .trends .trendThree{
        max-height: 100%;
    }
    #banner .trends .trendTwo{
        margin-top: 0;
    }
    #banner .trends .trendThree{
        margin-top: 0;
    }
    #banner .trends .trendThree img{
        max-height: 100%;
    }
    #featuredBrands .canon img{
        height: 147px;
    }
    #flashDeals{
        padding: 0;
    }
    #extendedSale{
        max-height: 127px;
    }
}