#trendSlider{
    position: relative;
}
#trendSlider img{
    transition: opacity 1.5s;
    position: absolute;
    width: 565px;
    height: 300px;
    top: 0;
    left: 0;
    opacity: 0;
}
#trendSlider #img_01{
    width: 866px;
    height: 300px;
}
#trendSlider #img_02{
    width: 866px;
    height: 300px;
}
#trendSlider #img_03{
    width: 866px;
    height: 300px;
}
#trendSlider img.fadeIn {
    opacity: 1;
}
@media (min-width:900px) and (max-width:1000px) {
    #trendSlider #img_01,#trendSlider #img_02,#trendSlider #img_03{
        max-width: 777px;
    }
}